Sushi_puntonet/WebApp/Service References/ServicioReporte/ServicioReporte2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="LinkInternet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioNormal" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioOferta" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
</xs:schema>