Sushi_puntonet/WebApp/Service References/ServicioReporte/ServicioReporte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56762/ServicioReporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
  <xs:element name="Stock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="StockResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteVentasRealizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteVentasRealizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="ReporteVentasRealizadasResult" nillable="true" type="q2:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reporteVentasAnuladas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reporteVentasAnuladasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="reporteVentasAnuladasResult" nillable="true" type="q3:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>