Sushi_puntonet/WebApp/Service References/ServicioCompras/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62494/Servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62494/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62494/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutenticarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutenticarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AnularPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:AnularPedido" />
  </wsdl:message>
  <wsdl:message name="IServicio_AnularPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GenerarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPedido" />
  </wsdl:message>
  <wsdl:message name="IServicio_GenerarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistorial" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarProductoID_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoID" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarProductoID_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_RecuperarRUNCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarRUNCliente" />
  </wsdl:message>
  <wsdl:message name="IServicio_RecuperarRUNCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarRUNClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/RegistrarUsuario" message="tns:IServicio_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/RegistrarUsuarioResponse" message="tns:IServicio_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EditarUsuario" message="tns:IServicio_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EditarUsuarioResponse" message="tns:IServicio_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EliminarUsuario" message="tns:IServicio_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EliminarUsuarioResponse" message="tns:IServicio_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AutenticarCliente" message="tns:IServicio_AutenticarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AutenticarClienteResponse" message="tns:IServicio_AutenticarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnularPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AnularPedido" message="tns:IServicio_AnularPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AnularPedidoResponse" message="tns:IServicio_AnularPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GenerarPedido" message="tns:IServicio_GenerarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GenerarPedidoResponse" message="tns:IServicio_GenerarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarProductos" message="tns:IServicio_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarProductosResponse" message="tns:IServicio_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarHistorial" message="tns:IServicio_ListarHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarHistorialResponse" message="tns:IServicio_ListarHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BuscarProductoID" message="tns:IServicio_BuscarProductoID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BuscarProductoIDResponse" message="tns:IServicio_BuscarProductoID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarRUNCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/RecuperarRUNCliente" message="tns:IServicio_RecuperarRUNCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/RecuperarRUNClienteResponse" message="tns:IServicio_RecuperarRUNCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicio/AutenticarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularPedido">
      <soap:operation soapAction="http://tempuri.org/IServicio/AnularPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPedido">
      <soap:operation soapAction="http://tempuri.org/IServicio/GenerarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHistorial">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoID">
      <soap:operation soapAction="http://tempuri.org/IServicio/BuscarProductoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarRUNCliente">
      <soap:operation soapAction="http://tempuri.org/IServicio/RecuperarRUNCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:62494/Servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>